
{{#each posts as |post| }}
<div class="home-post card col-lg bg-primary text-light">
  <div class=" ptitle text-light">
    <h2>
      <a class="card-title" href="/post/{{post.id}}">{{post.name}}</a>
    </h2>
    <p class="card-author">Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div class="card-desc text-dark bg-info">
    <p>
      {{post.description}}
    </p>
  </div>
</div>
{{/each}}
